<h1><%= @landmark.name %></h1>

<form method="post" action="/landmarks/<%= @landmark.id %>">

<input type="hidden" id="hidden" name="_method" value="patch">

  <label>Edit Landmark Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed.to_s %>">

  <input type="submit" value="Edit Landmark">
  </form>